    <div class="row cell well" ng-class="data.content.background == 'alternate' ? 'row--alternate' : ''">
        <ul>
            <li><a href="/Admin#!/gallery">Техника</a></li>
            <li><a href="/Admin#!/news">Новости</a></li>
        </ul>
    </div>
    <div class="row cell well" ng-class="data.content.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket">
            <div class="bucket-content textBlock">
                <h3 class="textBlock-headline">{{data.content.headline}}</h3>
                <p ng-show="isDataUpdated" class="textBlock-text--italic green">{{data.content.successSavedLabel}}</p>
                <form novalidate name="galleryForm">
                    <table class="textBlock-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Availibility</th>
                                <th></th>
                                <th>Date</th>
                                <th>Discount</th>
                                <th>Price</th>
                                <th>Full Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in machines.gallery.items">
                                <td>{{item.name}}</td>
                                <td><input type="checkbox" ng-model="item.availibility" ng-change="clearAvailibilityTextBox(item)" /></td>
                                <td><input type="text" ng-model="item.availibilityLabel" required /></td>
                                <td ng-class="isExpired(item.availibilityDate) ? 'orange' : ''">
                                    <datepicker date-week-start-day="1" date-format="yyyy-MM-dd HH:MM">
                                        <input type="text" ng-model="item.availibilityDate"/>
                                    </datepicker>
                                </td>
                                <td><input type="checkbox" ng-model="item.discount" /></td>
                                <td><input type="text" ng-model="item.price" required /></td>
                                <td><button ng-click="editFullInfo(item)">Edit</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="submit" class="btn btn--secondary form-button" ng-click="save()" value="{{data.content.saveButtonLabel}}" />
                </form>
            </div>
        </div>
    </div>
    <div class="row well cell" ng-show="isDisplayFullInfoPanel">
        <div class="bucket">
            <div class="bucket-content textBlock">
                <h3 class="textBlock-headline">{{activeItem.name}}</h3>
                <p ng-show="isDataUpdated" class="textBlock-text--italic green">{{data.content.successSavedLabel}}</p>
                <form novalidate name="fullInfoForm">
                    <table class="textBlock-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in activeItem.fullInfo.characteristics">
                                <td><input type="text" ng-model="item.name" class="textBlock-table-input" required /></td>
                                <td><input type="text" ng-model="item.value" class="textBlock-table-input" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="textBlock-table">
                        <thead>
                            <tr>
                                <th>Цена</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="price in activeItem.fullInfo.prices">
                                <td><input type="text" ng-model="price.title" class="textBlock-table-input" required /></td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="submit" class="btn btn--secondary form-button" ng-click="save()" value="{{data.content.saveButtonLabel}}" />
                </form>
            </div>
        </div>
    </div>