    <div class="row cell well well--larger" ng-class="data.form.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media mobile-hidden">
                <img ng-src="{{data.form.imageSrc}}" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <form novalidate name="messagesForm">
                    <h3 class="textBlock-headline">{{data.form.headline}}</h3>
                    <p ng-show="isError" class="textBlock-text--italic red">{{data.form.errorLabel}}</p>
                    <span class="form-label">{{data.form.inputs.nameLabel}} </span>
                    <input type="text" class="form-input" ng-model="form.Name" required />
                    <span class="form-label">{{data.form.inputs.passwordLabel}}</span>
                    <input type="text" class="form-input" ng-model="form.Password" required />
                    <input type="submit" class="btn btn--secondary form-button" ng-click="submit()" value="{{data.form.inputs.submitLabel}}" />
                </form>
            </div>
        </div>
    </div>