    <div class="row cell well well--larger" ng-show="!isSucceeded && !isError" ng-class="data.form.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media mobile-hidden">
                <img ng-src="{{data.form.imageSrc}}" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <form novalidate name="messagesForm">
                    <h3 class="textBlock-headline">{{data.form.headline}}</h3>
                    <span class="form-label">{{data.form.inputs.nameLabel}} </span>
                    <input type="text" class="form-input" ng-model="form.UserName" required />
                    <span class="form-label">{{data.form.inputs.passwordLabel}}</span>
                    <input type="email" class="form-input" ng-model="form.UserPassword" required />
                    <input type="submit" class="btn btn--secondary form-button" ng-click="submit()" value="{{data.form.inputs.submitLabel}}" />
                </form>
            </div>
        </div>
    </div>
    <div class="row cell well well-larger" ng-show="isSucceeded" ng-class="data.successView.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media mobile-hidden">
                <img ng-src="{{data.successView.imgSrc}}" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <span ng-bind-html="data.successView.textHtml"></span>
                <!--<h3 class="textBlock-subheadline">Спасибо за Ваше сообщение</h3>
                <p>Сотрудники Big Trailler свяжутся с Вами в самое ближайшее время.</p>
                <p class="textBlock-text--italic">Big Trailler - самые надёжные прицепы твоего города!</p>-->
            </div>
        </div>
    </div>
    <div class="row cell well well-larger" ng-show="isError" ng-class="data.successView.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media mobile-hidden">
                <img ng-src="{{data.errorView.imgSrc}}" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <span ng-bind-html="data.errorView.textHtml"></span>
                <!--<h3 class="textBlock-subheadline">К сожалению, Ваше сообщение не было отправлено</h3>
                <p>Приносим свои извинени, на нашем сервере произошла ошибка. Мы постараемся оперативно её исправить.</p>
                <p>Пожалуйста, свяжитесь с нашими сотрудниками по телефону</p>
                <p><a href="tel:+365 3453453">+375 3453453</a></p>
                <p>или отправьте Ваше сообщение на электронную почту</p>
                <p><a href="mailto:marenda2015@gmail.com">marenda2015@gmail.com</a></p>-->
            </div>
        </div>
    </div>