.bucket{
    display: table;
    color: @secondarytextcolor;
    font-size: @primaryfontsize;
}

.bucket--centered{
    margin: 0 auto;
}

.bucket-media, .bucket-content{
    float: left;
    width: 50%;
}

.bucket-media{
    text-align: right;
}

.bucket-media img{
    width: 100%;
}

.bucket-content{
    padding-left: 40px;
}

.bucket-content-headline{
    font-size: @headlinefontsize;
    margin-bottom: 10px;
    color: @headlinetextcolor;
    font-weight: bold;
}

.bucket-content-text{

}

.bucket-content-text--italic{
    font-style: italic;
}

.bucket-content-text--highlited{
    font-weight: bold;
}