.btn{
    padding: 10px;
    margin: 5px;
    color: @primarytextcolor;
    border-style: solid;
    border-width: 2px;
    text-decoration: none;
    font-family: @buttonfont;
    font-style: italic;
}

.btn--secondary{
    background-color: @secondarytextcolor;
    border-color: @secondarytextcolor;
}
.btn--secondary:hover{
    background-color: @secondarydarkertextcolor;
    border-color: @secondarydarkertextcolor;
}