.gallery{

}

.gallery ul{
    list-style-type: none;
}

.gallery-item{
    float: left;
    padding: 15px 20px 40px 15px;
    margin: 0 15px 20px 0;
    //width: 365px;
    width: 320px;
    border: 1px solid @secondarytextcolor;
    box-shadow: 2px 2px 5px @lightgraycolor;
    position: relative;
}

@media screen and (max-width: 1110px){
    .gallery-item{
        width: 45%;
    }
}

@media screen and (max-width: 630px){
    .gallery-item{
        width: 75%;
    }
}

@media screen and (max-width: 480px){
    .gallery-item{
        width: 100%;
    }
}

.gallery-item img{
    width: 100%;
}

@media screen and (max-width: 480px){
    .gallery-item img{
        height: 100% !important;
    }
}

.gallery-link{
    display: block;
    clear: both;
}

.gallery-item .textBlock{
    font-size: @gallerydescriptionfontsize;
}

.gallery-diccountIcon{
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
}

.gallery-diccountIcon img{
    width: 75px;
    height: 75px;
}