.row{
    background-color: @primarybackgroundcolor;
    color: @secondarytextcolor;
    width: 100%;
    display: inline-table;
    position: relative;
}

.row--alternate {
    background-color: @secondarybackgroundcolor;
}

.row--darkbackground{
    background-color: @darkbackgroundcolor;
    color: @primarytextcolor;
}

.row--borderBottom{
    border-bottom: 2px solid @secondarytextcolor;
}

.row.has-background-image{
    display: table;
}

//note this class is for testing, 
//will be replaced by inline-attributes!
.row.has-background-image.imaged{
    background-image: url('content/2.jpg');
}

.cell{
    padding-left: 150px;
    padding-right: 150px;
}

@media screen and (max-width: 1110px){
    .cell{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 630px){
    .cell{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.well{
    padding-top: 30px;
    padding-bottom: 30px;
}

.well--smaller{
    padding-top: 10px;
    padding-bottom: 10px;
}

.well--larger{
    padding-top: 50px;
    padding-bottom: 50px;
}

.well--fullscreen{
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
}

.grid {
    width: 100%;
    float: left;
}

.col {
    float: left;
    width: 50%;
    padding-right: 20px;
}

.col--quoter{
    width: 25%;
}

@media screen and (max-width: 768px){
    .col{
        width: 100%;
    }

    .col--quoter{
        width: 50%;
    }
}

.col--third{
    width: 33%;
}