.row{
    background-color: @primarybackgroundcolor;
    color: @secondarytextcolor;
    width: 100%;
    display: inline-table;
}

.row--alternate {
    background-color: @secondarybackgroundcolor;
    color: @primarytextcolor;
}

.row--darkbackground{
    background-color: @darkbackgroundcolor;
    color: @primarytextcolor;
}

.row.has-background-image{
    display: table;
}

//note this class is for testing, 
//will be replaced by inline-attributes!
.row.has-background-image.imaged{
    background-image: url('content/2.jpg');
}

.cell{
    padding-left: 300px;
    padding-right: 300px;
}

.well{
    padding-top: 30px;
    padding-bottom: 30px;
}

.well--smaller{
    padding-top: 10px;
    padding-bottom: 10px;
}

.well--fullscreen{
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
}

.grid {
    width: 100%;
    float: left;
}

.col {
    float: left;
    width: 50%;
}

.col--quoter{
    width: 25%;
}

.col--third{
    width: 33%;
}