@primarytextcolor: white;
@secondarytextcolor: #807b7b;

@headlinetextcolor: orange;
@headlinedarkertextcolor: #f0b434;

@primarybackgroundcolor: white;
//@secondarybackgroundcolor: #e8e6e6;
@secondarybackgroundcolor: #eae8e4;
@darkbackgroundcolor: #807b7b;

@lightgraycolor: #d3d3d3;

@greencolor: #6ad76a;
@orangecolor: orange;
@redcolor: red;
@whitecolor: white;

@headlinefont: "Open Sans",sans-serif;
@buttonfont: Georgia, "Times New Roman", Times, sans-serif;
@buttonfontsize: 16px;

@headerfontsize: 40px;
@subheaderfontsize: 24px;

@primaryfontsize: 20px;
@headlinefontsize: 24px;
@smallerfontsize: 16px;

@gallerydescriptionfontsize: 16px;