@primarytextcolor: white;
@secondarytextcolor: #807b7b;

@headlinetextcolor: orange;
@headlinedarkertextcolor: #f0b434;

@primarybackgroundcolor: white;
@secondarybackgroundcolor: #e8e6e6;

@headlinefont: "Open Sans",sans-serif;
@buttonfont: Georgia, "Times New Roman", Times, sans-serif;

@headerfontsize: 40px;
@subheaderfontsize: 24px;

@primaryfontsize: 20px;
@headlinefontsize: 24px;