.menu{
    font-weight: bold;
    color: @secondarytextcolor;
}

ul.nav{
    list-style: none;
}

ul.nav--horizontal{
   text-align: right;
}

ul.nav li{
    display: table-cell;
    padding: 10px 0;
}

ul.nav li.desktop-hidden{
    display: none;
}

@media screen and (max-width: 768px){
    ul.nav li.desktop-hidden{
        display: block;
    }
}

ul.nav--horizontal li{
    display: inline-block;
}

@media screen and (max-width: 768px){
    ul.nav--horizontal li{
        display: block;
    }
}