.menu{
    font-weight: bold;
    color: @secondarytextcolor;
}

ul.nav{
    list-style: none;
}

ul.nav--horizontal{
   text-align: right;
}

ul.nav li{
    display: table-cell;
    padding: 10px 0;
}

@media screen and (max-width: 630px){
    ul.nav li{
        padding: 10px 5px;

        a{
            font-size: 12px;
            padding: 5px;
            margin: 0;
        }
    }
}

ul.nav--horizontal li{
    display: inline-block;
}