.slide{
    text-align: center;
    color: @primarytextcolor;
    font-size: @primaryfontsize;
    background-color: @primarybackgroundcolor;
    display: table-cell;
    padding: 20px;
    background-size: cover;
    //note: just to test: background-image should be inline property!
    background-image: url('content/2.jpg');
}

.slide--centered{
    vertical-align: middle;
}

.slide-headline{
    font-size: @headerfontsize;
}

.slide-subheadline{
    font-family: @headlinefont;
    font-size: @subheaderfontsize;
    margin: 10px 0 15px 0;
}

.slide-btn{
    display: inline-block;
}

.slide-list{
    display: inline-block;
    text-align: left;
    padding-left: 20px;
}

.slide-list--ticked{
    list-style: none;
}

.slide-list--ticked li:before{
    position: absolute;
    margin-left: -1.3em;
    font-weight: bold;
    content: "\2713";
}