.textBlock{

}

.textBlock a{
    color: @headlinetextcolor;
}


.textBlock-headline{
    font-size: @headlinefontsize;
    margin-bottom: 10px;
    color: @headlinetextcolor;
    font-weight: bold;
}

.textBlock-text{

}

.textBlock-text--italic{
    font-style: italic;
}

.textBlock-text--highlited{
    font-weight: bold;
}