.textBlock{

}

.textBlock p {
    margin-bottom: 5px;
}

.textBlock a{
    color: @headlinetextcolor;
    text-decoration: none;
}

.textBlock a:hover{
    text-decoration: underline;
}


.textBlock-headline{
    font-size: @headlinefontsize;
    margin-bottom: 10px;
    color: @headlinetextcolor;
    font-weight: bold;
}

.textBlock-text{

}

.textBlock-text--italic{
    font-style: italic;
}

.textBlock-text--highlited{
    font-weight: bold;
}

.textBlock-text--rightaligned{
    float: right;
}

.textBlock-horizontalline{
    float: left;
    clear: both;
    width: 100%;
    margin: 20px 0;
}