    <div class="row cell well" ng-class="data.content.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket">
            <div class="bucket-media mobile-hidden">
                <img ng-src="{{data.content.imgSrc}}" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <h3 class="textBlock-headline">{{data.content.headline}}</h3>
                <span ng-bind-html="data.content.textHtml"></span>
                <!--<p class="textBlock-text--highlited textBlock-text--uppercased">требования к арендатору</p>
                <p>Перечень документов, необходимых при заключении договора аренды:</p>
                <ul class="textBlock-list">
                    <li>водительское удостоверение соответствующее классу прицепа (В,Е)</li>
                    <li>Паспорт гражданина Республики Беларусь</li>
                </ul>
                <p class="textBlock-text--highlited textBlock-text--uppercased">Порядок оплаты</p>
                <p>При оплате по безналичному расчету к стоимости добавляется 10%.</p>
                <p class="textBlock-text--highlited textBlock-text--uppercased">Постоянным Клиентам</p>
                <p>Для постоянныъх клиентов у нас предусмотрены дополнительные скидки, а также возможность бронирования прицепов по договоренности без внесения предоплаты.</p>
                <p class="textBlock-text--highlited textBlock-text--uppercased">Время Работы</p>
                <p>Выдача прицепов осуществляется с 8.00 до 21.00 ежедневно без выходных, а также по дополнительной договоренности в удобное для Вас время.</p>
                <p class="textBlock-text--highlited textBlock-text--uppercased">Правила Эксплуатации</p>
                <p>Обращаем Ваше внимание, что при выборе прицепа в аренду важно учитывать габариты и массу перевозимого груза. Запрещена перегрузка прицепа, а также перевозка грузов выступающих за габариты прицепа более чем это установлено действующими правилами дорожного движения. При эксплуатации прицепа оборудованного тентом необходимо размещать груз таким образом, чтобы при движении не произошло порыва либо протирания тента.</p>
                <p class="textBlock-text--highlited textBlock-text--uppercased">Бронирование</p>
                <p>Бронирование прицепов осуществляется при составлении договора аренды на конкретную дату и внесении предоплаты в размере 100%. Обращаем Ваше внимание, что для постоянных клиентов возможно бронирование без предоплаты</p>
                <p class="textBlock-text--highlited textBlock-text--uppercased">Скорость Движения</p>
                <p>Легковым и грузовым автомобилям при их движении с прицепом на автомагистралях — не более 90 км/ч, на остальных дорогах — не более 70 км/ч</p>-->
            </div>
        </div>
    </div>