    <div class="row row--darkbackground has-background-image imaged well cell">
        <div class="textBlock textBlock--centered">
            <h3 class="textBlock-subheadline">{{data.banner.subheadline}}</h3>
            <ul class="textBlock-list textBlock-list--ticked">
                <li ng-repeat="item in data.banner.items">{{item.title}}</li>
            </ul>
        </div>
    </div>
    <div class="row cell well well--larger" ng-show="!isSucceeded && !isError" ng-class="data.form.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media mobile-hidden">
                <img ng-src="{{data.form.imageSrc}}" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <form novalidate name="messagesForm">
                    <h3 class="textBlock-headline">{{data.form.headline}}</h3>
                    <p class="textBlock-text--italic">{{data.form.innerText}}</p>
                    <span class="form-label">{{data.form.inputs.nameLabel}} </span>
                    <input type="text" class="form-input" ng-model="form.UserName" required />
                    <span class="form-label">{{data.form.inputs.emailLabel}}</span>
                    <input type="email" class="form-input" ng-model="form.UserEmail" required />
                    <span class="form-label">{{data.form.inputs.messageLabel}}</span>
                    <textarea class="form-input form-textarea" rows="4" ng-model="form.Message" required></textarea>
                    <input type="submit" class="btn btn--secondary form-button" ng-click="submit()" value="{{data.form.inputs.submitLabel}}" />
                </form>
            </div>
        </div>
    </div>
    <div class="row cell well well-larger" ng-show="isSucceeded" ng-class="data.successView.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media mobile-hidden">
                <img ng-src="{{data.successView.imgSrc}}" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <span ng-bind-html="data.successView.textHtml"></span>
                <!--<h3 class="textBlock-subheadline">Спасибо за Ваше сообщение</h3>
                <p>Сотрудники Big Trailler свяжутся с Вами в самое ближайшее время.</p>
                <p class="textBlock-text--italic">Big Trailler - самые надёжные прицепы твоего города!</p>-->
            </div>
        </div>
    </div>
    <div class="row cell well well-larger" ng-show="isError" ng-class="data.successView.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media mobile-hidden">
                <img ng-src="{{data.errorView.imgSrc}}" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <span ng-bind-html="data.errorView.textHtml"></span>
                <!--<h3 class="textBlock-subheadline">К сожалению, Ваше сообщение не было отправлено</h3>
                <p>Приносим свои извинени, на нашем сервере произошла ошибка. Мы постараемся оперативно её исправить.</p>
                <p>Пожалуйста, свяжитесь с нашими сотрудниками по телефону</p>
                <p><a href="tel:+365 3453453">+375 3453453</a></p>
                <p>или отправьте Ваше сообщение на электронную почту</p>
                <p><a href="mailto:marenda2015@gmail.com">marenda2015@gmail.com</a></p>-->
            </div>
        </div>
    </div>
    <div class="row cell well well--larger" ng-class="data.mapView.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media">
                <div class="map" set-map></div>
            </div>
            <div class="bucket-content textBlock">
                <span ng-bind-html="data.mapView.textHtml"></span>
                <!--<h3 class="textBlock-subheadline">Спасибо, что выбрали нас!</h3>
                <p class="textBlock-text--italic">Big Trailler - самые надёжные прицепы твоего города!</p>
                <p>Мы находимся по адресу: Минский район, г.п. Мачулищи, 7 км от МКАД по Слуцкому шоссе</p>-->
                <p>{{data.social.description}}</p>
                <ul class="textBlock-list">
                    <li ng-repeat="item in data.social.links"><a href="{{item.link}}" target="_blank">{{item.name}}</a></li>
                </ul>
            </div>
        </div>
        <div ng-controller="scrollToAnchorController" class="back-to-top" ng-click="gotoElement('top')"><i class="fa fa-chevron-up"></i></div>
    </div>