    <div class="row row--darkbackground has-background-image imaged well cell">
            <ng-include src="'static/app/templates/banner.htm'"></ng-include>
    </div>
    <div class="row cell well well--larger" ng-show="!isSucceeded && !isError" ng-class="data.form.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media mobile-hidden">
                <img ng-src="{{data.form.img.imageSrc}}" title="{{data.form.img.imgTitle}}" alt="{{data.form.img.imgAlt}}" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <form novalidate name="messagesForm">
                    <h3 class="textBlock-headline">{{data.form.headline}}</h3>
                    <p class="textBlock-text--italic">{{data.form.innerText}}</p>
                    <span class="form-label">{{data.form.inputs.nameLabel}} </span>
                    <input type="text" class="form-input" ng-model="form.UserName" required />
                    <span class="form-label">{{data.form.inputs.emailLabel}}</span>
                    <input type="email" class="form-input" ng-model="form.UserEmail" required />
                    <span class="form-label">{{data.form.inputs.messageLabel}}</span>
                    <textarea class="form-input form-textarea" rows="4" ng-model="form.Message" required></textarea>
                    <input type="submit" class="btn btn--secondary form-button" ng-click="submit()" value="{{data.form.inputs.submitLabel}}" />
                </form>
            </div>
        </div>
    </div>
    <div class="row cell well well-larger" ng-show="isSucceeded" ng-class="data.successView.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media mobile-hidden">
                <img ng-src="{{data.successView.img.imgSrc}}" title="{{data.successView.img.imgTitle}}" alt="{{data.successView.img.imgAlt}}" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <span ng-bind-html="data.successView.textHtml"></span>
            </div>
        </div>
    </div>
    <div class="row cell well well-larger" ng-show="isError" ng-class="data.successView.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media mobile-hidden">
                <img ng-src="{{data.errorView.img.imgSrc}}" title="{{data.errowView.img.imgTitle}}" alt="{{data.errorView.img.imgAlt}}" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <span ng-bind-html="data.errorView.textHtml"></span>
            </div>
        </div>
    </div>
    <div class="row cell well well--larger" ng-class="data.mapView.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media">
                <div class="map" set-map></div>
            </div>
            <div class="bucket-content textBlock">
                <span ng-bind-html="data.mapView.textHtml"></span>
                <p>{{data.social.description}}</p>
                <ul class="textBlock-list">
                    <li ng-repeat="item in data.social.links"><a href="{{item.link}}" target="_blank">{{item.name}}</a></li>
                </ul>
            </div>
        </div>
        <div ng-controller="scrollToAnchorController" class="back-to-top" ng-click="gotoElement('top')"><i class="fa fa-chevron-up"></i></div>
    </div>