        <div class="gallery" match-height>
            <div class="filters">
                <label>Категория B
                    <input type="checkbox" ng-model="categories.CategoryB" ng-init="categories.CategoryB = true" />
                </label>
                <label>Категория E
                    <input type="checkbox" ng-model="categories.CategoryE" ng-init="categories.CategoryE = true" />
                </label>

                <label>Доступность
                    <input type="checkbox" ng-model="availibilityFilter.useFilter" ng-init="availibilityFilter.useFilter = false" />
                </label>
            </div>
            <ul>
                <li ng-repeat="item in machines.gallery.items | filter: categoryFilter(categories) | filter: availibilityFilter(availibilityFilter.useFilter)" class="gallery-item" ng-show="item.isVisible != false">
                    <a href="{{item.href}}"><img class="item-img" ng-src="{{item.img.imgSrc}}" title="{{item.img.imgTitle}}" alt="{{item.img.imgAlt}}" ng-controller="scrollToAnchorController" ng-click="gotoElement('top')" /></a>
                    <span ng-if="item.discount" class="gallery-diccountIcon">
                        <img src="static/icons/orange transparent discount icon.png" alt="discount!" title="image title" />
                    </span>
                    <div class="textBlock">
                        <a ng-href="{{item.href}}" class="gallery-item-description" ng-controller="scrollToAnchorController" ng-click="gotoElement('top')">{{item.description}}</a>
                        <div class="textBlock-contentBlock inGallery">
                            <h5 class="textBlock-contentBlock-title">{{machines.gallery.priceLabel}}</h5>
                            <p class="textBlock-contentBlock-value">{{item.price}}</p>
                        </div>
                        <div class="textBlock-contentBlock inGallery">
                            <h5 class="textBlock-contentBlock-title">{{machines.gallery.availabilityLabel}}</h5>
                            <p class="textBlock-contentBlock-value textBlock-contentBlock-value--highlighted" ng-class="item.availibility == true ? 'green' : 'red'">{{item.availibilityLabel}}</p>
                        </div>
                        <div class="gallery-link-wrapper">
                            <a ng-href="{{item.href}}" class="gallery-link" ng-controller="scrollToAnchorController" ng-click="gotoElement('top')">{{machines.gallery.moreLabel}}</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div ng-controller="scrollToAnchorController" class="back-to-top" ng-click="gotoElement('top')"><i class="fa fa-chevron-up"></i></div>
        </div>