    <div class="row row--darkbackground has-background-image imaged cell well">
        <div class="textBlock textBlock--centered">
            <h3 class="textBlock-subheadline">{{data.banner.subheadline}}</h3>
            <ul class="textBlock-list textBlock-list--ticked">
                <li ng-repeat="item in data.banner.items">{{item.title}}</li>
            </ul>
        </div>
    </div>
    <div ng-repeat="section in data.sections" class="row cell well" ng-class="section.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media mobile-hidden">
                <img ng-src="{{section.imgSrc}}" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <span ng-bind-html="section.textHtml"></span>
            </div>
        </div>
    </div>
    <div class="row cell well" ng-class="data.mapView.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media">
                <div class="map" set-map></div>
            </div>
            <div class="bucket-content textBlock">
                <span ng-bind-html="data.mapView.textHtml"></span>
            </div>
        </div>
        <div ng-controller="scrollToAnchorController" class="back-to-top" ng-click="gotoElement('top')"><i class="fa fa-chevron-up"></i></div>
    </div>