	<div class="row row--darkbackground has-background-image imaged cell well well--fullscreen">
		<div class="textBlock textBlock--centered textBlock--verticallycentered">
			<h1 class="textBlock-headline">Headline</h1>
			<h5 class="textBlock-subheadline">Main Page Only. Subheadline. Can be multiple lines. Hey Mister I'm-too-good-to-call-or-white-my-fans! This'll be the last package I'll ever send your ass! There's been six month and still no word.. I don't deserve it?</h5>
			<a href="#" class="btn">Original Button</a>
			<a href="#" class="btn btn--secondary">Alternate Button</a>
		</div>
	</div>
	<div class="row well cell">
        <div class="bucket bucket--centered">
            <div class="bucket-media mobile-hidden">
                <img src="static/content/1.jpg" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <h3 class="textBlock-subheadline">Subheadline</h3>
                <p>Many lines of text.</p>
                <p class="textBlock-text--italic">Inner text.</p>
                <p>Kimi Raikkonen is 2007 year F1 World Champion from Finland. Hey, Slim, I <a href="#">wrote you</a>, but you still ain't calling... I left my cell, my pager and my home phone at the bottom. I sent two letters back in autumn, you mustn't a got'em: there're probably a problem at the Post office or something.</p>
                <p class="textBlock-text--highlited">Highlited content.</p>
                <p>Janne Ahonen.</p>
                <ul class="textBlock-list">
                    <li>Development</li>
                    <li>Successful projects</li>
                    <li>Powerful energy</li>
                    <li>High-qualified ecosystem</li>
                </ul>                
                <h3 class="bucket-content-headline">Постоянным клиентам-скидки!</h3>
                <p>Наша компания сдает напрокат лафеты, прицепы для перевозки легковых автомобилей, джипов, микроавтобусов, мини эксковаторов, спецтехники и стройматериалов. В стоимость проката входит комплект крепёжных ремней+лебёдка+переходники+зелёная карта. Работаем круглосуточно, без выходных. </p>
                
            </div>
        </div>
    </div>
    <div class="row row--darkbackground has-background-image imaged well">
        <div class="textBlock textBlock--centered">
            <p class="textBlock-subheadline">Subheadline:</p>
            <ul class="textBlock-list textBlock-list--ticked">
                <li>Development</li>
                <li>Successful projects</li>
                <li>Powerful energy</li>
                <li>High-qualified ecosystem</li>
            </ul>
        </div>
    </div>
    <div class="row cell well">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media">
                <div id="map"></div>
            </div>
            <div class="bucket-content textBlock">
                <h3 class="textBlock-subheadline">Thank You for your visit!</h3>
                <p>Our managers'll contact you as soon as possible.</p>
            </div>
        </div>
    </div>