	<!--<div class="row row--darkbackground has-background-image imaged cell well well--fullscreen">
		<div class="textBlock textBlock--centered textBlock--verticallycentered">
			<h1 class="textBlock-headline">Headline</h1>
			<h5 class="textBlock-subheadline">Main Page Only. Subheadline. Can be multiple lines. Hey Mister I'm-too-good-to-call-or-white-my-fans! This'll be the last package I'll ever send your ass! There's been six month and still no word.. I don't deserve it?</h5>
			<a href="#" class="btn">Original Button</a>
			<a href="#" class="btn btn--secondary">Alternate Button</a>
		</div>
	</div>-->
    <div class="row row--darkbackground has-background-image imaged well">
        <div class="textBlock textBlock--centered">
            <p class="textBlock-subheadline">{{data.banner.subheadline}}</p>
            <ul class="textBlock-list textBlock-list--ticked">
                <li ng-repeat="item in data.banner.items">{{item.title}}</li>
            </ul>
        </div>
    </div>
    <div ng-repeat="section in data.sections" class="row cell well" ng-class="section.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket">
            <div class="bucket-media mobile-hidden">
                <img ng-src="{{section.imgSrc}}" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <span ng-bind-html="section.textHtml"></span>
            </div>
        </div>
    </div>
    <div class="row cell well" ng-class="data.mapView.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media">
                <div class="map" set-map></div>
            </div>
            <div class="bucket-content textBlock">
                <span ng-bind-html="data.mapView.textHtml"></span>
            </div>
        </div>
        <div ng-controller="scrollToAnchorController" class="back-to-top" ng-click="gotoElement('top')"><i class="fa fa-chevron-up"></i></div>
    </div>