        <div class="bucket bucket--notCentered" ng-swipe-disable-mouse ng-swipe-left="gotoPage(machine.nextHref)" ng-swipe-right = "gotoPage(machine.previousHref)">
            <div class="bucket-media">
                <img ng-src="{{activeImg.img.imgSrc}}" title="{{activeImg.img.imgTitle}}" alt="{{activeImg.img.imgAlt}}" class="bucket-media--main" />
                <div class="bucket-media-wrapper" match-height ng-show="isShowSecondaryImages">
                    <img ng-repeat="image in machine.secondaryImages" ng-src="{{image.img.imgSrc}}" title="{{image.img.imgTitle}}" alt="{{image.img.imgAlt}}" class="bucket-media--secondary item-img"  ng-click="setActive(image)" ng-class="image.img.imgSrc==activeImg.img.imgSrc ? 'active' : ''"/>
                </div>
                <div class="bucket-media-links-wrapper textBlock" ng-show="isShowSecondaryImages">
                    <button ng-click="setPreviousImageActive()" class="btn--link prev left" title="{{banner.section.previousLinkLabel}}"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                    <button ng-click="setNextImageActive()" class="btn--link right next" title="{{banner.section.nextLinkLabel}}"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="bucket-content textBlock">
                <h3 class="textBlock-headline">{{machine.description}}</h3>
                <p class="textBlock-text--highlited">{{machine.fullInfo.category}}</p>
                <div ng-repeat="item in machine.fullInfo.characteristics" class="textBlock-contentBlock">
                    <h5 class="textBlock-contentBlock-title">{{item.name}}</h5>
                    <p class="textBlock-contentBlock-value">{{item.value}}</p>
                </div>
                <p class='textBlock-text--highlited'>{{machine.priceLabel}}</p>
                <p ng-repeat="priceItem in machine.fullInfo.prices">{{priceItem.title}}</p>
            </div>
        </div>