    <div class="row row--alternate cell well">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media mobile-hidden">
                <img src="static/content/1.jpg" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <p class="textBlock-text--highlited">Highlited content.</p>
                <p>Janne Ahonen.</p>
                <ul class="textBlock-list">
                    <li>Development</li>
                    <li>Successful projects</li>
                    <li>Powerful energy</li>
                    <li>High-qualified ecosystem</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row well cell">
        <div class="textBlock textBlock--centered">
            <h3 class="textBlock-headline">Our Machines</h3>
        </div>
        <div class="gallery" match-height>
            <ul>
                <li class="gallery-item">
                    <img class="item-img" src="static/content/2.jpg" />
                    <div class="textBlock">
                        <p class="gallery-item-description">Item description Janne Ahonen</p>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Price:</h5>
                            <p class="textBlock-contentBlock-value">30 rub</p>
                        </div>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Availability:</h5>
                            <p class="textBlock-contentBlock-value textBlock-contentBlock-value--highlighted red">Nope (until 13, June)</p>
                        </div>
                        <div class="gallery-link-wrapper">
                            <a href="/#!/machines/1" class="gallery-link">More</a>
                        </div>
                    </div>
                </li>
                <li class="gallery-item">
                    <img class="item-img" src="static/content/1.jpg" />
                    <div class="textBlock">
                        <p class="gallery-item-description">Item description Janne Ahonen</p>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Price:</h5>
                            <p class="textBlock-contentBlock-value">30 rub</p>
                        </div>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Availability:</h5>
                            <p class="textBlock-contentBlock-value textBlock-contentBlock-value--highlighted green">Yep</p>
                        </div>
                        <div class="gallery-link-wrapper">
                            <a href="/#!/machines/2" class="gallery-link">More</a>
                        </div>
                    </div>
                </li>
                <li class="gallery-item">
                    <img class="item-img" class="" src="static/content/3.jpeg" />
                    <span class="gallery-diccountIcon">
                        <img src="static/icons/orange transparent discount icon.png" alt="discount!" title="image title" />
                    </span>
                    <div class="textBlock">
                        <p class="gallery-item-description">Can't be longer than 1 line</p>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Price:</h5>
                            <p class="textBlock-contentBlock-value">30 rub</p>
                        </div>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Доступен:</h5>
                            <p class="textBlock-contentBlock-value textBlock-contentBlock-value--highlighted red">Нет (до 31 сентября)</p>
                        </div>
                        <div class="gallery-link-wrapper">
                            <a href="/#!/machines/3" class="gallery-link">More</a>
                        </div>
                    </div>
                </li>
                <li class="gallery-item">
                    <img class="item-img" src="static/content/3.jpeg" />
                    <div class="textBlock">
                        <p class="gallery-item-description">Item description Janne Ahonen</p>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Price:</h5>
                            <p class="textBlock-contentBlock-value">30 rub</p>
                        </div>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Availability:</h5>
                            <p class="textBlock-contentBlock-value textBlock-contentBlock-value--highlighted red">Nope (until 13, June)</p>
                        </div>
                        <div class="gallery-link-wrapper">
                            <a href="/#!/machines/4" class="gallery-link">More</a>
                        </div>
                    </div>
                </li>
                <li class="gallery-item">
                    <img class="item-img" src="static/content/1.jpg" />
                    <div class="textBlock">
                        <p class="gallery-item-description">Item description Janne Ahonen</p>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Price:</h5>
                            <p class="textBlock-contentBlock-value">30 rub</p>
                        </div>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Availability:</h5>
                            <p class="textBlock-contentBlock-value textBlock-contentBlock-value--highlighted green">Yep</p>
                        </div>
                        <div class="gallery-link-wrapper">
                            <a href="/#!/machines/1" class="gallery-link">More</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>