    <div class="row row--darkbackground has-background-image imaged well">
        <div class="textBlock textBlock--centered">
            <p class="textBlock-subheadline">{{data.banner.subheadline}}</p>
            <ul class="textBlock-list textBlock-list--ticked">
                <li ng-repeat="item in data.banner.items">{{item.title}}</li>
            </ul>
        </div>
    </div>
    <div class="row cell well" ng-class="data.section.background == 'alternate' ? 'row--alternate' : ''">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media" match-height>
                <img ng-src="{{activeImg.imgSrc}}" class="bucket-media--main" />
                <div class="bucket-media-wrapper">
                    <img ng-repeat="image in machine.secondaryImages" ng-src="{{image.imgSrc}}"  class="bucket-media--secondary item-img"  ng-click="setActive(image)" ng-class="image.imgSrc==activeImg.imgSrc ? 'active' : ''"/>
                </div>
                <div class="bucket-media-links-wrapper textBlock">
                    <a href="{{machine.previousHref}}" class="prev left">{{data.section.previousLinkLabel}}</a>
                    <a href="{{machine.nextHref}}" class="right next">{{data.section.nextLinkLabel}}</a>
                </div>
            </div>
            <div class="bucket-content textBlock">
                <h3 class="textBlock-headline">{{machine.name}}</h3>
                <p class="textBlock-text--highlited">{{machine.fullInfo.category}}</p>
                <div ng-repeat="item in machine.fullInfo.characteristics" class="textBlock-contentBlock">
                    <h5 class="textBlock-contentBlock-title">{{item.name}}</h5>
                    <p class="textBlock-contentBlock-value">{{item.value}}</p>
                </div>
                <span ng-bind-html="machine.fullInfo.textHtml"></span>
                <!--<p class="textBlock-text--italic orange">Цена</p>
                <p>40 руб/сутки</p>
                <p>24 руб/3-7 суток</p>
                <p>20 руб/10+ суток</p>-->
            </div>
        </div>
    </div>