	<!--<div class="row cell well well--smaller">
		<a href="#" class="mainLogo"><img src="content/2.jpg" ></a>
		<ul class="nav nav--horizontal menu">
			<li><a href="#" class="btn btn--noborder menu-item">Main</a></li>
			<li><a href="#News" class="btn btn--noborder btn--active menu-item">News</a></li>
			<li><a href="#Mathines" class="btn btn--noborder menu-item">Machines</a></li>
			<li><a href="#Contact" class="btn btn--noborder btn--active menu-item">Contact Us</a></li>
		</ul>
	</div>-->
	<div>
		Menu Template
		</div>