    <div class="row cell well well--larger" ng-class="data.content.background == 'alternate' ? 'row--alternate' : ''">
        <div class="textBlock col col--nopadding">
            <div ng-repeat="item in data.content.rules.col1" class="bucket bucket--notFixed">
                <div class="bucket-media bucket-media--hasIcon">
                    <span class="bucket-icon">
                        <i class={{item.iconClass}} aria-hidden="true"></i>
                    </span>
                </div>
                <div class="bucket-content bucket-content--larger textBlock">
                    <p class="textBlock-text--highlited">{{item.headline}}</p>
                    <span ng-bind-html="item.textHtml"></span>
                </div>
            </div>
        </div>
        <div class="textBlock col col--nopadding">
            <div ng-repeat="item in data.content.rules.col2" class="bucket bucket--notFixed">
                <div class="bucket-media bucket-media--hasIcon">
                    <span class="bucket-icon">
                        <i class={{item.iconClass}} aria-hidden="true"></i>
                    </span>
                </div>
                <div class="bucket-content bucket-content--larger textBlock">
                    <p class="textBlock-text--highlited">{{item.headline}}</p>
                    <span ng-bind-html="item.textHtml"></span>
                </div>
            </div>
        </div>
    </div>