        <div class="textBlock textBlock--centered">
            <h3 class="textBlock-subheadline">{{banner.subheadline}}</h3>
            <ul class="textBlock-list textBlock-list--ticked">
                <li ng-repeat="item in banner.items">{{item.title}}</li>
            </ul>
            <div ng-controller="timerController"  class="bucket bucket--notCentered" ng-if="banner.finishDateTime">
                <div class="bucket-media">
                    <div ng-show="isActionFinished && isLoaded">
                        <p>ДО ОКОНЧАНИЯ АКЦИИ ОСТАЛОСЬ:</p>
                        <table class="bucket-media-table">
                            <tr>
                                <td class="bucket-media-table-value">{{daysLeft | addLeadingZero}}</td>
                                <td class="bucket-media-table-value">{{hoursLeft | addLeadingZero}}</td>
                                <td class="bucket-media-table-value">{{minutesLeft | addLeadingZero}}</td>
                                <td class="bucket-media-table-value">{{secondsLeft | addLeadingZero}}</td>
                            </tr>
                            <tr>
                                <td>дней</td>
                                <td>часов</td>
                                <td>минут</td>
                                <td>секунд</td>
                            </tr>
                        </table>
                    </div>
                    <p ng-show="!isActionFinished">Акция завершилась</p>
                </div>
                <div class="bucket-content textBlock">
                    <span ng-bind-html="banner.textHtml"></span>
                </div>
            </div>
        </div>