<div ng-controller="sliderController" ng-if="showSlides">
    <div ng-repeat="banner in data.banners" class="home-banner" ng-style="{'background-image': 'url(' + banner.backgroundImageUrl + ')'}" ng-show="banner.isActive">
        <ng-include src="'static/src/app/templates/banner.htm'"></ng-include>
    </div>
</div>
<div class="row no-gutters p-3 px-md-4 mb-3">
    <div class="col-12 col-sm-4 pr-3 fixed-height">
        <div class="position-relative border-top border-warning fake-border-top">
            <div class="position-absolute date-block">
                <small class="text-right text-muted">{{newsTitleItem.months}}</small>
                <div class="text-center font-weight-bold lead">{{newsTitleItem.day | addLeadingZero}}</div>
                <small class="text-center d-block text-muted">{{newsTitleItem.year}}</small>
            </div>
            <div class="mt-5 news-block mb-3 mb-sm-0 mx-3">
                <p><a href="/news" class="text-muted">{{newsTitleItem.tags.join(", ")}}</a></p>
                <h5 class="mb-3">{{newsTitleItem.title}}</h5>
                <div ng-bind-html="newsTitleItem.textHtml" class="text-justify"></div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4 pr-3 fixed-height">
        <div class="position-relative border-top border-warning fake-border-top">
            <div class="position-absolute date-block">
                <small class="text-right text-muted">{{textItem.months}}</small>
                <div class="text-center font-weight-bold lead">{{textItem.day | addLeadingZero}}</div>
                <small class="text-center d-block text-muted">{{textItem.year}}</small>
            </div>
            <div class="mt-5  news-block mb-3 mb-sm-0 mx-3">
                <p><a class="text-muted" href="/usefulText">{{textItem.tags.join(", ")}}</a></p>
                <h5 class="mb-3">{{textItem.title}}</h5>
                <div ng-bind-html="textItem.textHtml" class="text-justify"></div>
                <p><a class="text-warning" href="/usefulText">Далее</a></p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4 fixed-height">
        <div class="position-relative border-top border-warning fake-border-top">
            <div class="position-absolute date-block">
                <small class="text-right text-muted">{{videoItem.months}}</small>
                <div class="text-center font-weight-bold lead">{{videoItem.day | addLeadingZero}}</div>
                <small class="text-center d-block text-muted">{{videoItem.year}}</small>
            </div>
            <div class="mt-5 news-block mb-3 mb-sm-0 mx-3">
                <p><a class="text-muted" href="/usefulVideo">{{videoItem.tags.join(", ")}}</a></p>
                <h5 class="mb-3">{{videoItem.title}}</h5>
                <div ng-bind-html="videoItem.textHtml" class="text-justify"></div>
                <p><a class="text-warning" href="/usefulVideo">Далее</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid p-3 px-md-4 bg-warning">
    <div class="col-12">
        <p class="text-center zoomIn animated infinite">Bigtrailer - самые надёжные прицепы твоего города!</p>
    </div>
</div>