* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
.mainLogo {
  float: left;
  line-height: 18px;
}
.mainLogo img {
  width: 40px;
  height: 40px;
}
.row {
  background-color: white;
  color: #807b7b;
  width: 100%;
  display: inline-table;
}
.row--alternate {
  background-color: #eae8e4;
}
.row--darkbackground {
  background-color: #807b7b;
  color: white;
}
.row.has-background-image {
  display: table;
}
.row.has-background-image.imaged {
  background-image: url('content/2.jpg');
}
.cell {
  padding-left: 150px;
  padding-right: 150px;
}
.well {
  padding-top: 30px;
  padding-bottom: 30px;
}
.well--smaller {
  padding-top: 10px;
  padding-bottom: 10px;
}
.well--fullscreen {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}
.grid {
  width: 100%;
  float: left;
}
.col {
  float: left;
  width: 50%;
}
.col--quoter {
  width: 25%;
}
.col--third {
  width: 33%;
}
.textBlock {
  font-size: 20px;
}
.textBlock--smallertext {
  font-size: 16px;
}
.textBlock--centered {
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
}
.textBlock--verticallycentered {
  display: table-cell;
}
.textBlock p {
  margin-bottom: 10px;
}
.textBlock p.green {
  color: green;
}
.textBlock p.red {
  color: red;
}
.textBlock a {
  color: orange;
  text-decoration: none;
}
.textBlock a:hover {
  text-decoration: underline;
}
.textBlock a.btn {
  color: inherit;
  display: inline-block;
}
.textBlock a.btn:hover {
  text-decoration: none;
}
.textBlock-headline {
  font-size: 40px;
  margin-bottom: 10px;
  line-height: 30px;
  font-weight: bold;
}
.textBlock-subheadline {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 15px 0;
}
.textBlock-text--italic {
  font-style: italic;
}
.textBlock-text--highlited {
  font-weight: bold;
}
.textBlock-text--rightaligned {
  float: right;
}
.textBlock-horizontalline {
  float: left;
  clear: both;
  width: 100%;
  margin: 20px 0;
}
.textBlock-list {
  display: inline-block;
  text-align: left;
  padding-left: 20px;
}
.textBlock-list--ticked {
  list-style: none;
}
.textBlock-list--ticked li:before {
  position: absolute;
  margin-left: -1.3em;
  font-weight: bold;
  content: "\2713";
}
.textBlock-contentBlock {
  margin: 10px 0;
  clear: both;
}
.textBlock-contentBlock-title {
  float: left;
}
.textBlock-contentBlock-value {
  float: right;
}
.textBlock-contentBlock-value--highlighted {
  font-weight: bold;
}
.bucket {
  font-size: 20px;
}
.bucket--centered {
  margin: 0 auto;
}
.bucket-media,
.bucket-content {
  float: left;
  width: 50%;
}
.bucket--notCentered .bucket-media {
  width: 33%;
}
.bucket-media {
  text-align: right;
  position: relative;
}
.bucket-media--main {
  width: 100%;
}
.bucket-media--secondary {
  width: 33%;
  float: left;
}
.bucket-media-wrapper {
  padding: 10px 0;
  overflow: hidden;
}
.bucket-media-headline {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
}
/*
.bucket-media img{
    width: 100%;
}
*/
.bucket-content {
  padding-left: 40px;
}
.btn {
  padding: 10px;
  margin: 5px;
  color: #807b7b;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, sans-serif;
  font-size: 16px;
  font-style: italic;
}
a.btn:hover {
  color: orange;
  border-color: orange;
  text-decoration: none;
}
.btn--noborder {
  border: none;
}
.btn--secondary {
  color: white !important;
  background-color: orange;
  border-color: orange;
}
.btn--secondary:hover {
  background-color: #f0b434;
  border-color: #f0b434;
}
.form-label {
  display: block;
}
.form-input {
  width: 300px;
  height: 35px;
  margin-bottom: 10px;
}
.form-input.error {
  border: 1px solid red;
}
.form-textarea {
  height: auto;
}
form .form-button {
  display: block;
}
.menu {
  font-weight: bold;
  color: #807b7b;
}
ul.nav {
  list-style: none;
}
ul.nav--horizontal {
  text-align: right;
}
ul.nav li {
  display: table-cell;
  padding: 10px 0;
}
ul.nav--horizontal li {
  display: inline-block;
}
/*
.menu-item{
    color: @secondarytextcolor;
}
*/
.gallery ul {
  list-style-type: none;
}
.gallery-item {
  float: left;
  padding: 15px 20px 40px 15px;
  margin: 0 15px 20px 0;
  width: 365px;
  border: 1px solid #807b7b;
  box-shadow: 2px 2px 5px #d3d3d3;
  position: relative;
}
.gallery-item img {
  width: 330px;
}
.gallery-link {
  display: block;
  clear: both;
}
.gallery-item .textBlock {
  font-size: 16px;
}
.gallery-diccountIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 75px;
}
.gallery-diccountIcon img {
  width: 75px;
  height: 75px;
}
