* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
.row {
  background-color: white;
  color: #807b7b;
  width: 100%;
  display: inline-table;
}
.row--alternate {
  background-color: #eae8e4;
  color: white;
}
.row--darkbackground {
  background-color: #807b7b;
  color: white;
}
.row.has-background-image {
  display: table;
}
.row.has-background-image.imaged {
  background-image: url('content/2.jpg');
}
.cell {
  padding-left: 300px;
  padding-right: 300px;
}
.well {
  padding-top: 30px;
  padding-bottom: 30px;
}
.well--smaller {
  padding-top: 10px;
  padding-bottom: 10px;
}
.well--fullscreen {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}
.grid {
  width: 100%;
  float: left;
}
.col {
  float: left;
  width: 50%;
}
.col--quoter {
  width: 25%;
}
.col--third {
  width: 33%;
}
.textBlock {
  font-size: 20px;
}
.textBlock--smallertext {
  font-size: 16px;
}
.textBlock--centered {
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
  display: table-cell;
}
.textBlock p {
  margin-bottom: 5px;
}
.textBlock a {
  color: orange;
  text-decoration: none;
}
.textBlock a:hover {
  text-decoration: underline;
}
.textBlock .btn {
  color: inherit;
  display: inline-block;
}
.textBlock .btn:hover {
  text-decoration: none;
}
.textBlock-headline {
  font-size: 40px;
  margin-bottom: 10px;
  line-height: 30px;
  font-weight: bold;
}
.textBlock-subheadline {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 15px 0;
}
.textBlock-text--italic {
  font-style: italic;
}
.textBlock-text--highlited {
  font-weight: bold;
}
.textBlock-text--rightaligned {
  float: right;
}
.textBlock-horizontalline {
  float: left;
  clear: both;
  width: 100%;
  margin: 20px 0;
}
.textBlock-list {
  display: inline-block;
  text-align: left;
  padding-left: 20px;
}
.textBlock-list--ticked {
  list-style: none;
}
.textBlock-list--ticked li:before {
  position: absolute;
  margin-left: -1.3em;
  font-weight: bold;
  content: "\2713";
}
.bucket {
  display: table;
  color: #807b7b;
  font-size: 20px;
}
.bucket--centered {
  margin: 0 auto;
}
.bucket-media,
.bucket-content {
  float: left;
  width: 50%;
}
.bucket-media {
  text-align: right;
}
.bucket-media img {
  width: 100%;
}
.bucket-content {
  padding-left: 40px;
}
.btn {
  padding: 10px;
  margin: 5px;
  color: #807b7b;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, sans-serif;
  font-size: 16px;
  font-style: italic;
}
.btn:hover {
  color: orange;
  border-color: headlinetextcolor;
  text-decoration: none;
}
.btn--noborder {
  border: none;
}
.btn--secondary {
  color: white !important;
  background-color: orange;
  border-color: orange;
}
.btn--secondary:hover {
  background-color: #f0b434;
  border-color: #f0b434;
}
.menu {
  font-weight: bold;
  color: #807b7b;
}
ul.nav {
  list-style: none;
}
ul.nav--horizontal {
  text-align: right;
}
ul.nav li {
  display: table-cell;
  padding: 10px 0;
}
ul.nav--horizontal li {
  display: inline-block;
}
/*
.menu-item{
    color: @secondarytextcolor;
}
*/
