* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.row {
  display: table;
  width: 100%;
}
.row.fullscreen {
  height: 100%;
}
.slide {
  text-align: center;
  color: white;
  background-color: lightblue;
  display: table-cell;
}
.slide--centered {
  vertical-align: middle;
}
