* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
.mainLogo {
  float: left;
  line-height: 18px;
}
.mainLogo img {
  height: 40px;
}
.row {
  background-color: white;
  color: #807b7b;
  width: 100%;
  display: inline-table;
  position: relative;
}
.row--alternate {
  background-color: #eae8e4;
}
.row--darkbackground {
  background-color: #807b7b;
  color: white;
}
.row.has-background-image {
  display: table;
}
.row.has-background-image.imaged {
  background-image: url('content/2.jpg');
}
.cell {
  padding-left: 150px;
  padding-right: 150px;
}
@media screen and (max-width: 1110px) {
  .cell {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 630px) {
  .cell {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.well {
  padding-top: 30px;
  padding-bottom: 30px;
}
.well--smaller {
  padding-top: 10px;
  padding-bottom: 10px;
}
.well--larger {
  padding-top: 50px;
  padding-bottom: 50px;
}
.well--fullscreen {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}
.grid {
  width: 100%;
  float: left;
}
.col {
  float: left;
  width: 50%;
}
.col--quoter {
  width: 25%;
}
@media screen and (max-width: 768px) {
  .col--quoter {
    width: 50%;
  }
}
.col--third {
  width: 33%;
}
.textBlock {
  font-size: 20px;
}
.textBlock--smallertext {
  font-size: 16px;
}
@media screen and (max-width: 480px) {
  .textBlock--smallertext {
    font-size: 10px;
  }
}
.textBlock--centered {
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
}
.textBlock--verticallycentered {
  display: table-cell;
}
.textBlock p {
  margin-bottom: 10px;
}
.textBlock .green {
  color: #6ad76a;
}
.textBlock .red {
  color: red;
}
.textBlock .orange {
  color: orange;
}
.textBlock a {
  color: orange;
  text-decoration: none;
}
.textBlock a:hover {
  text-decoration: underline;
}
.textBlock a i.fa {
  font-weight: bold;
}
.textBlock a i.fa:hover {
  text-decoration: underline;
}
.textBlock a.btn {
  color: inherit;
  display: inline-block;
}
.textBlock a.btn:hover {
  text-decoration: none;
}
.textBlock .left {
  float: left;
}
.textBlock .right {
  float: right;
}
.textBlock-headline {
  font-size: 40px;
  margin-bottom: 30px;
  line-height: 30px;
  font-weight: bold;
}
.textBlock-subheadline {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 15px 0;
}
.textBlock-text--italic {
  font-style: italic;
}
.textBlock-text--highlited {
  font-weight: bold;
}
.textBlock-text--rightaligned {
  float: right;
}
.textBlock-text--uppercased {
  text-transform: uppercase;
}
.textBlock-horizontalline {
  float: left;
  clear: both;
  width: 100%;
  margin: 20px 0;
}
.textBlock-list {
  display: inline-block;
  text-align: left;
  padding-left: 20px;
  margin: 10px 0;
}
.textBlock-list--ticked {
  list-style: none;
}
.textBlock-list--ticked li:before {
  position: absolute;
  margin-left: -1.3em;
  font-weight: bold;
  content: "\2713";
}
.textBlock-contentBlock {
  margin: 10px 0;
  clear: both;
  overflow: hidden;
}
.textBlock-contentBlock-title {
  float: left;
  max-width: 40%;
}
@media screen and (max-width: 768px) {
  .textBlock-contentBlock-title {
    font-size: 16px;
  }
}
.textBlock-contentBlock-value {
  float: right;
  text-align: right;
  max-width: 60%;
  margin-bottom: 0 !important;
}
.textBlock-contentBlock.inGallery .textBlock-contentBlock-value {
  max-width: 70%;
}
.textBlock-contentBlock.inGallery .textBlock-contentBlock-title {
  max-width: 30%;
}
.textBlock-contentBlock-value--highlighted {
  font-weight: bold;
}
.bucket {
  font-size: 20px;
}
.bucket--centered {
  margin: 0 auto;
}
.bucket-media,
.bucket-content {
  float: left;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .bucket-media,
  .bucket-content {
    width: 100%;
  }
}
.bucket--notCentered .bucket-media {
  width: 33%;
}
@media screen and (max-width: 768px) {
  .bucket--notCentered .bucket-media {
    width: 75%;
  }
}
.bucket-media {
  text-align: right;
  position: relative;
}
@media screen and (max-width: 768px) {
  .bucket-media {
    padding-bottom: 20px;
  }
  .bucket-media.mobile-hidden {
    display: none;
  }
}
.bucket-media--main {
  width: 100%;
}
.bucket-media--secondary {
  width: 33%;
  float: left;
  cursor: pointer;
}
.bucket-media--secondary.active {
  border: 4px solid orange;
}
.bucket-media-wrapper {
  padding: 10px 0;
  overflow: hidden;
}
.bucket-media-links-wrapper {
  padding: 0 60px;
}
.bucket-media-headline {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
}
.bucket-content {
  padding-left: 40px;
}
@media screen and (max-width: 768px) {
  .bucket-content {
    padding: 0 10px;
  }
}
.btn {
  padding: 10px;
  margin: 5px;
  color: #807b7b;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, sans-serif;
  font-size: 16px;
  font-style: italic;
}
@media screen and (max-width: 480px) {
  .btn {
    font-size: 12px;
    margin: 1px;
    padding: 2px;
  }
}
a.btn:hover {
  color: orange;
  border-color: orange;
  text-decoration: none;
}
.btn--noborder {
  border: none;
}
.btn--secondary,
.btn--active {
  color: white !important;
  background-color: orange;
  border-color: orange;
}
.btn--secondary:hover {
  background-color: #f0b434;
  border-color: #f0b434;
}
.form-label {
  display: block;
}
.form-input {
  width: 300px;
  height: 35px;
  padding: 0 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .form-input {
    width: 100%;
  }
}
.form-textarea {
  height: auto;
}
form .form-button {
  display: block;
}
form.ng-submitted input.ng-invalid,
form.ng-submitted textarea.ng-invalid {
  border: 1px solid red;
}
.menu {
  font-weight: bold;
  color: #807b7b;
}
ul.nav {
  list-style: none;
}
ul.nav--horizontal {
  text-align: right;
}
ul.nav li {
  display: table-cell;
  padding: 10px 0;
}
ul.nav--horizontal li {
  display: inline-block;
}
.gallery ul {
  list-style-type: none;
}
.gallery-item {
  float: left;
  padding: 15px 20px 40px 15px;
  margin: 0 15px 20px 0;
  width: 320px;
  border: 1px solid #807b7b;
  box-shadow: 2px 2px 5px #d3d3d3;
  position: relative;
}
@media screen and (max-width: 1110px) {
  .gallery-item {
    width: 45%;
  }
}
@media screen and (max-width: 630px) {
  .gallery-item {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .gallery-item {
    width: 100%;
  }
}
.gallery-item img {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .gallery-item img {
    height: 100% !important;
  }
}
.gallery-link-wrapper {
  display: block;
  clear: both;
}
.gallery-item .textBlock {
  font-size: 16px;
}
.gallery-diccountIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 75px;
}
.gallery-diccountIcon img {
  width: 75px;
  height: 75px;
}
.social i {
  padding: 0 5px;
}
.social a {
  color: white;
}
.social i:hover {
  color: orange;
}
.social a:after {
  content: "|";
}
.social a:hover {
  text-decoration: none;
}
.social a i.fa:hover {
  text-decoration: none;
}
.social a:last-child:after {
  content: "";
}
.back-to-top {
  position: absolute;
  bottom: 30px;
  right: 180px;
}
