@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp" ng-controller="appController">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/static/dist/styles.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title ng-bind="pageTitle">Аренда Прицепов в Минске | Bigtrailer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <base href="/">
    <meta name="description" content="Bigtrailer предоставляет услуги по аренде прицепов в городе Минске. Все наши прицепы в эксплуатации с 2015 года, постоянно проходят своевременное обслуживание, укомплектованы тентами, запасными колесами, усиленными осями и резиной, помимо этого весь парк застрахован по системе международного страхования и готов к выезду в страны Европейского и Таможенного союзов" ng-attr-content="{{pageDescription}}">
    <link href="~/Content/Icons/icon.png" type="image/x-icon" rel="icon">
    <link href="~/Content/Icons/icon.ico" type="image/x-icon" rel="shortcut icon">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <!— Top100 (Kraken) Counter —>
    <script>
        (function (w, d, c) {
        (w[c] = w[c] || []).push(function() {
        var options = {
        project: 4501909,
        element: 'top100_widget'
        };
        try {
        w.top100Counter = new top100(options);
        } catch(e) { }
        });
        var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src =
        (d.location.protocol == "https:" ? "https:" : "http:") +
        "//st.top100.ru/top100/top100.js";

        if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
        })(window, document, "_top100q");
    </script>
    <noscript>
        <img src="//counter.rambler.ru/top100.cnt?pid=4501909" alt="Топ-100" />
    </noscript>
    <!— END Top100 (Kraken) Counter —>
    <meta name="google-site-verification" content="dqGQVOfv---ltijSAO0JtaXS6-_oVYSRWJkdL9UYwsE" />
    <meta name="yandex-verification" content="9e5e709f6405303f" />
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "AutoRental",
        "address": {
        "@@type": "PostalAddress",
        "addressLocality": "Минск Беларусь",
        "postalCode": "220108",
        "streetAddress": "ул. Корженевского 16б (автостоянка)"
        },
        "name": "Bigtrailer-Minsk",
        "openingHours": [
        "Mo-Su 09:00-21:00"
        ],
        "currenciesAccepted": "BYN",
        "paymentAccepted": "Cash, credit card",
        "description": "Аренда прицепов в Минске. Все наши прицепы в эксплуатации с 2015 года, постоянно проходят своевременное обслуживание, укомплектованы тентами, запасными колесами, усиленными осями и резиной, помимо этого весь парк застрахован по системе международного страхования и готов к выезду в страны Европейского и Таможенного союзов",
        "logo": "http://www.bigtrailer-minsk.by/Content/Icons/icon.png",
        "image": "http://www.bigtrailer-minsk.by/Content/Images/machines/6%D1%851.5/EURO-C-750-T4.jpg",
        "priceRange": "$$",
        "legalName": "ИП Бобок Максим Дмитриевич",
        "telephone": "+375 44 7669269",
        "url": "http://www.bigtrailer-minsk.by",
        "email": "marenda2015@gmail.com"
        }
    </script>

    <!— Yandex.Metrika counter —>
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter44823184 = new Ya.Metrika({
                        id: 44823184,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/44823184" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!— /Yandex.Metrika counter —>
</head>
<body>
    <div class="d-flex flex-row p-1 px-md-4 mb-1 bg-white border-bottom shadow-sm">
        <a href="/" name="top" id="top" class="my-md-0 mr-md-auto my-2 py-3"><img ng-src="{{data.header.logo.src}}"></a>
        <nav class="my-2 my-md-0 mr-md-3 navbar">
            <a ng-repeat="item in data.header.menu" href="{{item.href}}" class="p-2 nav-item text-warning" ng-class="path == item.path? 'active': ''">{{item.title}}</a>
        </nav>
    </div>
    <div ng-view style="min-height:75%"></div>
    <div class="d-flex flex-column flex-md-row justify-content-between px-3 py-3 py-md-5 px-md-4 mt-5 bg-white border-top">
        <div class="mb-3 mb-md-0">
            <p ng-repeat="item in data.footer.leftColumn.tels" class="mb-0"><a href="{{item.href}}" class="text-warning">{{item.title}}</a></p>
            <p ng-repeat="item in data.footer.leftColumn.emails" class="mb-0"><a href="{{item.href}}" class="text-warning">{{item.title}}</a></p>
            <p ng-repeat="item in data.footer.leftColumn.paragraphs" class="mb-0 {{item.class}}">{{item.title}}</p>
        </div>
        <div class="mb-3 mb-md-0">
            <p ng-repeat="item in data.footer.middleColumn" class="mb-0">{{item.title}}</p>
        </div>
        <div class="mb-3 mb-md-0">
            <a ng-repeat="item in data.footer.socialBar" href="{{item.href}}" target="_blank"><i class="text-warning fa pr-1 {{item.class}}" aria-hidden="true"></i></a>
            <p><a ng-repeat="item in data.header.menu" href="{{item.href}}" class="text-warning pr-1 d-block d-lg-inline" ng-class="path == item.path? 'link-active': ''">{{item.title}}</a></p>
        </div>
        <div class="mb-3 mb-md-0">
            <a class="text-warning" href="#top">Наверх</a>
        </div>
    </div>
    <div class="border-top p-3 text-right">
        <p class="m-0">{{data.footer.copyright.title}}</p>
    </div>
    <!— Top100 (Kraken) Widget —>
    <span id="top100_widget"></span>
    <!— END Top100 (Kraken) Widget —>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/static/dist/ngModules.app.min.js"></script>
    <script type="text/javascript" src="~/static/dist/all.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkNKAC_frei_BLZ0zphi92XjvIkGzudBA" async defer></script>
</body>
</html>