@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <link rel="stylesheet" href="static/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
         .map {
             height: 300px;
         }
         html, body {
             height: 100%;
             margin: 0;
             padding: 0;
         }
    </style>
    <script type="text/javascript" src="static/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="static/node_modules/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="static/app/app.js"></script>
    <script type="text/javascript" src="static/app/services/anchorSmoothScrollService.js"></script>
    <script type="text/javascript" src="static/app/controllers/homeController.js"></script>
    <script type="text/javascript" src="static/app/controllers/newsController.js"></script>
    <script type="text/javascript" src="static/app/controllers/machinesController.js"></script>
    <script type="text/javascript" src="static/app/controllers/machineController.js"></script>
    <script type="text/javascript" src="static/app/controllers/arendaController.js"></script>
    <script type="text/javascript" src="static/app/controllers/contactController.js"></script>
    <script type="text/javascript" src="static/app/controllers/scrollToAnchorController.js"></script>
    <script type="text/javascript" src="static/app/directives/matchHeight.js"></script>
    <script type="text/javascript" src="static/app/directives/setMap.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkNKAC_frei_BLZ0zphi92XjvIkGzudBA" async defer></script>
</head>
<body ng-app="myApp" ng-controller="appController">
    <div class="row cell well well--smaller">
        <a href="/" name="top" id="top" class="mainLogo"><img src="static/content/2.jpg"></a>
        <ul class="nav nav--horizontal menu">
            <li><a href="/" class="btn btn--noborder menu-item" ng-class="path =='/' ? 'btn--active' : ''">Главная</a></li>
            <li><a href="/#!/news" class="btn btn--noborder menu-item" ng-class="path =='/news' ? 'btn--active' : ''">Новости</a></li>
            <li><a href="/#!/machines" class="btn btn--noborder menu-item" ng-class="path =='/machines' ? 'btn--active' : ''">Наша Техника</a></li>
            <li><a href="/#!/arenda" class="btn btn--noborder menu-item" ng-class="path =='/arenda' ? 'btn--active' : ''">Аренда</a></li>
            <li><a href="/#!/contact" class="btn btn--noborder menu-item" ng-class="path =='/contact' ? 'btn--active' : ''">Контакты</a></li>
        </ul>
    </div>
    <div ng-view></div>
    <div class="row row--darkbackground cell well grid">
        <div class="textBlock textBlock--smallertext col col--quoter">
            <p class="textBlock-text--highlited"><a href="tel:+375 3453453">+375 44 7669269</a></p>
            <p><a href="">marenda2015@gmail.com</a></p>
            <p class="textBlock-text--highlited">8.00 - 21.00 Без выходных</p>
            <p>Наличный и безналичный расчёт</p>
        </div>
        <div class="textBlock textBlock--smallertext col col--quoter">
            <p>Беларусь, Минский район</p>
            <p>г.п. Мачулищи, 7 км от МКАД по Слуцкому шоссе</p>
            <p>ИП Бобок Светлана Петровна</p>
            <p>УНП 691782209</p>
            <p>р\с 3013247940011 ЗАО Банк ВТБ</p>
        </div>
        <div class="col textBlock social">
            <a href="https://vk.com/share.php?url=http%3A%2F%2Fwww.bigtrailer-minsk.net" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
            <a href="http://twitter.com/share?text=Самые надёжные прицепы в твоём городе&url=http://BigTrailler-Minsk.net&#BigTrailler-Minsk" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/Bigtrailer-minsk-1037970656247038/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
        <div class="textBlock">
            <hr class="textBlock-horizontalline" />
        </div>
        <div class="textBlock">
            <p class="textBlock--smallertext textBlock-text--rightaligned">kimi_finland@hotmail.com (c) 2016</p>
        </div>
    </div>
</body>
</html>