@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <link rel="stylesheet" href="static/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
         #map {
             height: 300px;
         }
         /* Optional: Makes the sample page fill the window. */
         html, body {
             height: 100%;
             margin: 0;
             padding: 0;
         }
    </style>
    <script type="text/javascript" src="static/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="static/node_modules/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="static/app/app.js"></script>
    <script type="text/javascript" src="static/app/controllers/homeController.js"></script>
    <script type="text/javascript" src="static/app/controllers/newsController.js"></script>
    <script type="text/javascript" src="static/app/controllers/machinesController.js"></script>
    <script type="text/javascript" src="static/app/controllers/machineController.js"></script>
    <script type="text/javascript" src="static/app/controllers/contactController.js"></script>
    <script type="text/javascript" src="static/app/directives/matchHeight.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkNKAC_frei_BLZ0zphi92XjvIkGzudBA"
            async defer></script>

</head>
<body ng-app="myApp" ng-controller="appController">
    <div class="row cell well well--smaller">
        <a href="/" class="mainLogo"><img src="static/content/2.jpg"></a>
        <ul class="nav nav--horizontal menu">
            <li><a href="/" class="btn btn--noborder menu-item" ng-class="path =='/' ? 'btn--active' : ''">Main</a></li>
            <li><a href="/#!/news" class="btn btn--noborder menu-item" ng-class="path =='/news' ? 'btn--active' : ''">News</a></li>
            <li><a href="/#!/machines" class="btn btn--noborder menu-item" ng-class="path =='/machines' ? 'btn--active' : ''">Machines</a></li>
            <li><a href="/#!/contact" class="btn btn--noborder menu-item" ng-class="path =='/contact' ? 'btn--active' : ''">Contact Us</a></li>
        </ul>
    </div>

    <div ng-view></div>

    @*<div class="row well cell">
        <div class="bucket bucket--centered">
            <div class="bucket-media mobile-hidden">
                <img src="static/content/1.jpg" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <h3 class="textBlock-subheadline">Subheadline</h3>
                <p>Many lines of text.</p>
                <p class="textBlock-text--italic">Inner text.</p>
                <p>Kimi Raikkonen is 2007 year F1 World Champion from Finland. Hey, Slim, I <a href="#">wrote you</a>, but you still ain't calling... I left my cell, my pager and my home phone at the bottom. I sent two letters back in autumn, you mustn't a got'em: there're probably a problem at the Post office or something.</p>
                <p class="textBlock-text--highlited">Highlited content.</p>
                <p>Janne Ahonen.</p>
                <ul class="textBlock-list">
                    <li>Development</li>
                    <li>Successful projects</li>
                    <li>Powerful energy</li>
                    <li>High-qualified ecosystem</li>
                </ul>

                
                <h3 class="bucket-content-headline">Постоянным клиентам-скидки!</h3>
                <p>Наша компания сдает напрокат лафеты, прицепы для перевозки легковых автомобилей, джипов, микроавтобусов, мини эксковаторов, спецтехники и стройматериалов. В стоимость проката входит комплект крепёжных ремней+лебёдка+переходники+зелёная карта. Работаем круглосуточно, без выходных. </p>
                
            </div>
        </div>
    </div>*@
    @*<div class="row row--darkbackground has-background-image imaged well">
        <div class="textBlock textBlock--centered">
            <p class="textBlock-subheadline">Subheadline:</p>
            <ul class="textBlock-list textBlock-list--ticked">
                <li>Development</li>
                <li>Successful projects</li>
                <li>Powerful energy</li>
                <li>High-qualified ecosystem</li>
            </ul>
        </div>
    </div>*@
    @*<div class="row row--alternate cell well">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media mobile-hidden">
                <img src="static/content/1.jpg" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <h3 class="textBlock-headline">Headline</h3>
                <p>Many lines of text.</p>
                <p class="textBlock-text--italic">Inner text.</p>
                <p>Kimi Raikkonen is 2007 year F1 World Champion from Finland. Hey, Slim, I <a href="#">wrote you</a>, but you still ain't calling... I left my cell, my pager and my home phone at the bottom. I sent two letters back in autumn, you mustn't a got'em: there're probably a problem at the Post office or something.</p>
                <p class="textBlock-text--highlited">Highlited content.</p>
                <p>Janne Ahonen.</p>
                <ul class="textBlock-list">
                    <li>Development</li>
                    <li>Successful projects</li>
                    <li>Powerful energy</li>
                    <li>High-qualified ecosystem</li>
                </ul>
            </div>
        </div>
    </div>*@
    @*<div class="row well cell">
        <div class="textBlock textBlock--centered">
            <p class="textBlock-subheadline">Our Machines</p>
        </div>
        <div class="gallery">
            <ul>
                <li class="gallery-item">
                    <img src="static/content/2.jpg" />
                    <div class="textBlock">
                        <p class="gallery-item-description">Item description Janne Ahonen</p>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Price:</h5>
                            <p class="textBlock-contentBlock-value">30 rub</p>
                        </div>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Availability:</h5>
                            <p class="textBlock-contentBlock-value textBlock-contentBlock-value--highlighted red">Nope (until 13, June)</p>
                        </div>
                        <a href="#" target="_blank" class="gallery-link">More</a>
                    </div>
                </li>
                <li class="gallery-item">
                    <img src="static/content/1.jpg" />
                    <div class="textBlock">
                        <p class="gallery-item-description">Item description Janne Ahonen</p>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Price:</h5>
                            <p class="textBlock-contentBlock-value">30 rub</p>
                        </div>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Availability:</h5>
                            <p class="textBlock-contentBlock-value textBlock-contentBlock-value--highlighted green">Yep</p>
                        </div>
                        <a href="#" target="_blank" class="gallery-link">More</a>
                    </div>
                </li>
                <li class="gallery-item">
                    <img class="" src="static/content/3.jpeg" />
                    <span class="gallery-diccountIcon">
                        <img src="static/icons/orange transparent discount icon.png" alt="discount!" title="image title" />
                    </span>
                    <div class="textBlock">
                        <p class="gallery-item-description">Can't be longer than 1 line</p>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Price:</h5>
                            <p class="textBlock-contentBlock-value">30 rub</p>
                        </div>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Доступен:</h5>
                            <p class="textBlock-contentBlock-value textBlock-contentBlock-value--highlighted red">Нет (до 31 сентября)</p>
                        </div>
                        <a href="#" target="_blank" class="gallery-link">More</a>
                    </div>
                </li>
                <li class="gallery-item">
                    <img src="static/content/3.jpeg" />
                    <div class="textBlock">
                        <p class="gallery-item-description">Item description Janne Ahonen</p>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Price:</h5>
                            <p class="textBlock-contentBlock-value">30 rub</p>
                        </div>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Availability:</h5>
                            <p class="textBlock-contentBlock-value textBlock-contentBlock-value--highlighted red">Nope (until 13, June)</p>
                        </div>
                        <a href="#" target="_blank" class="gallery-link">More</a>
                    </div>
                </li>
                <li class="gallery-item">
                    <img src="static/content/1.jpg" />
                    <div class="textBlock">
                        <p class="gallery-item-description">Item description Janne Ahonen</p>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Price:</h5>
                            <p class="textBlock-contentBlock-value">30 rub</p>
                        </div>
                        <div class="textBlock-contentBlock">
                            <h5 class="textBlock-contentBlock-title">Availability:</h5>
                            <p class="textBlock-contentBlock-value textBlock-contentBlock-value--highlighted green">Yep</p>
                        </div>
                        <a href="#" target="_blank" class="gallery-link">More</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>*@
    @*<div class="row row--alternate cell well">
        <div class="bucket">
            <div class="bucket-media mobile-hidden">
                <img src="static/content/1.jpg" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <h3 class="textBlock-headline">Headline</h3>
                <p>Many lines of text.</p>
                <p class="textBlock-text--italic">Inner text.</p>
                <p>Kimi Raikkonen is 2007 year F1 World Champion from Finland. Hey, Slim, I <a href="#">wrote you</a>, but you still ain't calling... I left my cell, my pager and my home phone at the bottom. I sent two letters back in autumn, you mustn't a got'em: there're probably a problem at the Post office or something.</p>
                <p class="textBlock-text--highlited">Highlited content.</p>
                <p>Janne Ahonen.</p>
                <ul class="textBlock-list">
                    <li>Development</li>
                    <li>Successful projects</li>
                    <li>Powerful energy</li>
                    <li>High-qualified ecosystem</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row cell well">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media">
                <img src="static/content/1.jpg" class="bucket-media--main" />
                <div class="bucket-media-wrapper">
                    <img src="static/content/2.jpg" class="bucket-media--secondary" />
                    <img src="static/content/3.jpeg" class="bucket-media--secondary" />
                    <img src="static/content/1.jpg" class="bucket-media--secondary" />
                </div>
            </div>
            <div class="bucket-content textBlock">
                <h3 class="textBlock-headline">Headline</h3>
                <p>Many lines of text.</p>
                <p class="textBlock-text--italic">Inner text.</p>
                <p>Kimi Raikkonen is 2007 year F1 World Champion from Finland. Hey, Slim, I <a href="#">wrote you</a>, but you still ain't calling... I left my cell, my pager and my home phone at the bottom. I sent two letters back in autumn, you mustn't a got'em: there're probably a problem at the Post office or something.</p>
                <p class="textBlock-text--highlited">Highlited content.</p>
                <p>Janne Ahonen.</p>
                <ul class="textBlock-list">
                    <li>Development</li>
                    <li>Successful projects</li>
                    <li>Powerful energy</li>
                    <li>High-qualified ecosystem</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row row--alternate cell well">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media">
                <img src="static/content/1.jpg" class="bucket-media--main" />
                <div class="bucket-media-wrapper">
                    <img src="static/content/2.jpg" class="bucket-media--secondary" />
                    <img src="static/content/3.jpeg" class="bucket-media--secondary" />
                    <img src="static/content/1.jpg" class="bucket-media--secondary" />
                    <img src="static/content/3.jpeg" class="bucket-media--secondary" />
                    <img src="static/content/1.jpg" class="bucket-media--secondary" />
                </div>
            </div>
            <div class="bucket-content textBlock">
                <h3 class="textBlock-headline">Headline</h3>
                <p>Many lines of text.</p>
                <p class="textBlock-text--italic">Inner text.</p>
                <p>Kimi Raikkonen is 2007 year F1 World Champion from Finland. Hey, Slim, I <a href="#">wrote you</a>, but you still ain't calling... I left my cell, my pager and my home phone at the bottom. I sent two letters back in autumn, you mustn't a got'em: there're probably a problem at the Post office or something.</p>
                <p class="textBlock-text--highlited">Highlited content.</p>
                <p>Janne Ahonen.</p>
                <ul class="textBlock-list">
                    <li>Development</li>
                    <li>Successful projects</li>
                    <li>Powerful energy</li>
                    <li>High-qualified ecosystem</li>
                </ul>
            </div>
        </div>
    </div>*@
    @*<div class="row cell well">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media mobile-hidden">
                <img src="static/content/1.jpg" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <form method="post" action="">
                    <h3 class="textBlock-headline">Contact Us</h3>
                    <p class="textBlock-text--italic">Please, leave us your contacts and we'll call you back sooner.</p>
                    <span class="form-label">Your Name*: </span>
                    <input type="text" class="form-input" />
                    <span class="form-label">Your E-mail*:</span>
                    <input type="email" class="form-input error" />
                    <span class="form-label">Your message*:</span>
                    <textarea class="form-input form-textarea" rows="4"></textarea>
                    <button class="btn btn--secondary form-button">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row row--alternate cell well">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media mobile-hidden">
                <img src="static/content/1.jpg" class="bucket-media--main" />
            </div>
            <div class="bucket-content textBlock">
                <h3 class="textBlock-subheadline">Thank You for your visit!</h3>
                <p>Our managers'll contact you as soon as possible.</p>
            </div>
        </div>
    </div>*@
    @*<div class="row cell well">
        <div class="bucket bucket--notCentered">
            <div class="bucket-media">
                <div id="map"></div>
            </div>
            <div class="bucket-content textBlock">
                <h3 class="textBlock-subheadline">Thank You for your visit!</h3>
                <p>Our managers'll contact you as soon as possible.</p>
            </div>
        </div>
        <script>
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: -34.397, lng: 150.644 },
                    zoom: 8
                });
            };
            initMap();
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkNKAC_frei_BLZ0zphi92XjvIkGzudBA"
                async defer></script>
    </div>*@
    <div class="row row--darkbackground cell well grid">
        <div class="textBlock textBlock--smallertext col col--quoter">
            <p class="textBlock-text--highlited"><a href="tel:+375 3453453">+2734 35345 35</a></p>
            <p class="textBlock-text--highlited"><a href="tel:+375 345353">+345 3453 35345</a></p>
            <p>prokat@prokat.com</p>
        </div>
        <div class="textBlock textBlock--smallertext col col--quoter">
            <p>Minsk, Belarus</p>
            <p>ul Kuibusheva, 49, 352</p>
            <p>Maxim B. Ivanov</p>
            <p>UPN 339 3534 39244 March, 29 1996</p>
        </div>
        <div class="col textBlock social">
            <i class="fa fa-vk" aria-hidden="true"></i> |
            <i class="fa fa-twitter" aria-hidden="true"></i> |
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <div class="textBlock">
            <hr class="textBlock-horizontalline" />
        </div>
        <div class="textBlock">
            <p class="textBlock--smallertext textBlock-text--rightaligned">kimiraikkonen@outlook.com (c) 2016</p>
        </div>
    </div>
</body>
</html>