@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp" ng-controller="appController">
<head>
    <link rel="stylesheet" href="~/static/styles.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title ng-bind="pageTitle">Аренда Прицепов в Минске | Bigtrailler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <base href="/">
    <meta name="description" content="Bigtrailer предоставляет услуги по аренде прицепов в городе Минске. Все Наши прицепы в эксплуатации с 2015 года, постоянно проходят своевременное обслуживание, укомплектованы тентами, запасными колесами, усиленными осями и резиной, помимо этого весь парк застрахован по системе международного страхования и готов к выезду в страны Европейского и Таможенного союзов" ng-attr-content="{{pageDescription}}">
    <link id="favicon" href="~/static/icons/icon.png" type="image/x-icon" rel="shortcut icon">
    <style>
        .map {
            height: 300px;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script type="text/javascript" src="~/static/app/ngModules.min.js"></script>
    <script type="text/javascript" src="~/static/app/all.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkNKAC_frei_BLZ0zphi92XjvIkGzudBA" async defer></script>
</head>
<body>
    <div class="row cell well well--smaller">
        <a href="/" name="top" id="top" class="mainLogo"><img ng-src="{{data.header.logo.src}}"></a>
        <ul class="nav nav--horizontal menu" ng-controller="toggleMenuController">
            <li class="desktop-hidden" ng-click="toggleMenu()"><a class="btn btn--noborder menu-item"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
            <li show-when="large" ng-show="isOpen" ng-repeat="item in data.header.menu"><a href="{{item.href}}" class="btn btn--noborder menu-item" ng-class="path == item.path? 'btn--active': ''">{{item.title}}</a></li>
        </ul>
    </div>
    <div ng-view style="min-height:75%"></div>
    <div class="row row--darkbackground cell well grid">
        <div class="textBlock textBlock--smallertext textBlock--leftAligned col col--third">
            <p ng-repeat="item in data.footer.leftColumn.tels" class="textBlock-text--highlited"><a href="{{item.href}}">{{item.title}}</a></p>
            <p ng-repeat="item in data.footer.leftColumn.emails"><a href="{{item.href}}">{{item.title}}</a></p>
            <p ng-repeat="item in data.footer.leftColumn.paragraphs" class="{{item.class}}">{{item.title}}</p>
        </div>
        <div class="textBlock textBlock--smallertext textBlock--leftAligned col col--third">
            <p ng-repeat="item in data.footer.middleColumn">{{item.title}}</p>
        </div>
        <div class="textBlock textBlock--smallertext social col col--third">
            <a ng-repeat="item in data.footer.socialBar" href="{{item.href}}" target="_blank"><i class="fa {{item.class}}" aria-hidden="true"></i></a>
        </div>
        <div class="textBlock">
            <hr class="textBlock-horizontalline" />
        </div>
        <div class="textBlock">
            <p class="textBlock--smallertext textBlock-text--rightaligned">{{data.footer.copyright.title}}</p>
        </div>
    </div>
</body>
</html>